In [1]:
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,CL,2020-01-05 00:20:22,-42.48,-73.76,57.20,62,20,5.82
1,1,Port Alfred,ZA,2020-01-05 00:20:22,-33.59,26.89,71.01,98,88,4.00
2,2,Rikitea,PF,2020-01-05 00:20:23,-23.12,-134.97,77.09,75,71,16.78
3,3,Tuktoyaktuk,CA,2020-01-05 00:20:23,69.44,-133.03,-25.60,67,20,9.17
4,4,Khatanga,RU,2020-01-05 00:20:23,71.98,102.47,-19.14,85,0,9.10

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# Sizing the Figure Appropriately
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights = temps)
# Adding for loop to remove sub 0 temperatures
#The default option for the dissipation is “True,” so we need to set our “dissipation” to “False.”
#We can add max_intensity to make each measurement have a better gradient variance.
#We can add point_radius to make each measurement radius larger.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2020-01-05 00:20:23,-23.12,-134.97,77.09,75,71,16.78
8,8,Northam,AU,2020-01-05 00:20:24,-31.65,116.67,77.00,25,0,17.22
12,12,Cap Malheureux,MU,2020-01-05 00:20:25,-19.98,57.61,77.00,94,75,5.82
23,23,Hambantota,LK,2020-01-05 00:20:27,6.12,81.12,78.55,85,14,16.17
25,25,Lufilufi,WS,2020-01-05 00:20:28,-13.87,-171.60,82.33,73,93,9.26
32,32,Mayumba,GA,2020-01-05 00:20:29,-3.44,10.65,80.40,82,100,5.59
40,40,Caravelas,BR,2020-01-05 00:20:31,-17.73,-39.27,77.13,85,100,10.04
43,43,Port Hedland,AU,2020-01-05 00:20:32,-20.31,118.58,86.00,48,100,19.46
45,45,Kavieng,PG,2020-01-05 00:20:32,-2.57,150.80,84.65,74,100,9.17
47,47,Lucea,JM,2020-01-05 00:20:33,18.44,-78.17,82.40,78,20,5.82

In [23]:
preferred_cities_df.count()

City_ID       114
City          114
Country       113
Date          114
Lat           114
Lng           114
Max Temp      114
Humidity      114
Cloudiness    114
Wind Speed    114
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
2          Rikitea      PF     77.09 -23.12 -134.97
8          Northam      AU     77.00 -31.65  116.67
12  Cap Malheureux      MU     77.00 -19.98   57.61
23      Hambantota      LK     78.55   6.12   81.12
25        Lufilufi      WS     82.33 -13.87 -171.60
32         Mayumba      GA     80.40  -3.44   10.65
40       Caravelas      BR     77.13 -17.73  -39.27
43    Port Hedland      AU     86.00 -20.31  118.58
45         Kavieng      PG     84.65  -2.57  150.80
47           Lucea      JM     82.40  18.44  -78.17

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,77.09,-23.12,-134.97,Pension Maro'i
8,Northam,AU,77.00,-31.65,116.67,Northam Motel
12,Cap Malheureux,MU,77.00,-19.98,57.61,Pereybere Hotel & Spa
23,Hambantota,LK,78.55,6.12,81.12,Bungalow 63
25,Lufilufi,WS,82.33,-13.87,-171.60,Leuaina Beach Resort and Spa
32,Mayumba,GA,80.40,-3.44,10.65,LIKWALE LODGE
40,Caravelas,BR,77.13,-17.73,-39.27,Pousada Dos Navegantes
43,Port Hedland,AU,86.00,-20.31,118.58,The Esplanade Hotel
45,Kavieng,PG,84.65,-2.57,150.80,Nusa Island Retreat
47,Lucea,JM,82.40,18.44,-78.17,Grand Palladium Jamaica Resort & Spa

In [37]:
# Add a heatmap of temperature for the vacation spots.
# Add markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]