In [1]:
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Thompson,CA,2020-01-05 09:28:52,55.74,-97.86,6.80,84,90,6.93,light snow,0.0,0.0
1,1,Vaini,IN,2020-01-05 09:28:52,15.34,74.49,84.20,42,40,6.93,scattered clouds,0.0,0.0
2,2,Bluff,AU,2020-01-05 09:28:52,-23.58,149.07,83.59,50,55,14.16,broken clouds,0.0,0.0
3,3,Khatanga,RU,2020-01-05 09:28:52,71.98,102.47,-20.36,88,0,9.13,clear sky,0.0,0.0
4,4,Peniche,PT,2020-01-05 09:21:11,39.36,-9.38,54.00,87,0,4.70,clear sky,0.0,0.0

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID                       int64
City                         object
Country                      object
Date                         object
Lat                         float64
Lng                         float64
Max Temp                    float64
Humidity                      int64
Cloudiness                    int64
Wind Speed                  float64
Current Description          object
Rain inches (last 3 hrs)    float64
Snow inches (last 3 hrs)    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# Sizing the Figure Appropriately
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights = temps)
# Adding for loop to remove sub 0 temperatures
#The default option for the dissipation is “True,” so we need to set our “dissipation” to “False.”
#We can add max_intensity to make each measurement have a better gradient variance.
#We can add point_radius to make each measurement radius larger.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
# fig
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
4,4,Peniche,PT,2020-01-05 09:21:11,39.36,-9.38,54.00,87,0,4.70,clear sky,0.00,0.0
8,8,Jamestown,AU,2020-01-05 09:27:40,-33.21,138.60,55.15,83,100,11.70,light rain,0.81,0.0
11,11,Ushuaia,AR,2020-01-05 09:28:54,-54.81,-68.31,50.00,57,40,17.22,scattered clouds,0.00,0.0
12,12,San Patricio,PY,2020-01-05 09:28:54,-26.98,-56.83,67.50,79,0,0.76,clear sky,0.00,0.0
15,15,Mataura,NZ,2020-01-05 09:28:55,-46.19,168.86,52.00,70,28,13.00,scattered clouds,0.00,0.0
20,20,Los Llanos De Aridane,ES,2020-01-05 09:28:57,28.66,-17.92,66.20,59,75,8.05,broken clouds,0.00,0.0
27,27,Hilo,US,2020-01-05 09:28:57,19.71,-155.08,69.80,83,75,5.82,broken clouds,0.00,0.0
28,28,Barrow,AR,2020-01-05 09:28:59,-38.31,-60.23,62.24,95,95,5.46,light rain,0.81,0.0
32,32,Gizo,IL,2020-01-05 09:21:17,31.80,34.94,57.99,71,75,18.34,broken clouds,0.00,0.0
33,33,Arlit,NE,2020-01-05 09:21:23,18.74,7.39,63.57,22,0,18.54,clear sky,0.00,0.0

In [13]:
preferred_cities_df.count()

City_ID                     127
City                        127
Country                     124
Date                        127
Lat                         127
Lng                         127
Max Temp                    127
Humidity                    127
Cloudiness                  127
Wind Speed                  127
Current Description         127
Rain inches (last 3 hrs)    127
Snow inches (last 3 hrs)    127
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp    Lat     Lng Hotel Name
4                 Peniche      PT     54.00  39.36   -9.38
8               Jamestown      AU     55.15 -33.21  138.60
11                Ushuaia      AR     50.00 -54.81  -68.31
12           San Patricio      PY     67.50 -26.98  -56.83
15                Mataura      NZ     52.00 -46.19  168.86
20  Los Llanos De Aridane      ES     66.20  28.66  -17.92
27                   Hilo      US     69.80  19.71 -155.08
28                 Barrow      AR     62.24 -38.31  -60.23
32                   Gizo      IL     57.99  31.80   34.94
33                  Arlit      NE     63.57  18.74    7.39

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Peniche,PT,54.00,39.36,-9.38,Hotel Star inn Peniche
8,Jamestown,AU,55.15,-33.21,138.60,Jamestown Motel Terraces
11,Ushuaia,AR,50.00,-54.81,-68.31,Albatros Hotel
12,San Patricio,PY,67.50,-26.98,-56.83,"Granja ""La Blanca"""
15,Mataura,NZ,52.00,-46.19,168.86,Ellie's Villa
20,Los Llanos De Aridane,ES,66.20,28.66,-17.92,Valle Aridane
27,Hilo,US,69.80,19.71,-155.08,Hilo Seaside Hotel
28,Barrow,AR,62.24,-38.31,-60.23,
32,Gizo,IL,57.99,31.80,34.94,בקתות לשקיעה
33,Arlit,NE,63.57,18.74,7.39,Hôtel Telwa Bungalow

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# # Store the DataFrame Row.
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots.
# Add markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))